<h3>My first project on Fastapi</h3>
<p>Here you see a beautiful homepage with car photos</p>
<div class="row">
  <div class="col-md-4">
    <div class="thumbnail">
      <a href="#">
        <img src="/static/images/car1.jpeg" alt="Lights" style="width:100%">
        <div class="caption">
          <p>Lorem ipsum...</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
      <a href="#">
        <img src="/static/images/car2.jpeg" alt="Nature" style="width:100%">
        <div class="caption">
          <p>Lorem ipsum...</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
      <a href="#">
        <img src="/static/images/car3.jpeg" alt="Fjords" style="width:100%">
        <div class="caption">
          <p>Lorem ipsum...</p>
        </div>
      </a>
    </div>
  </div>
</div>
